.head {
    height: 100vh;
    
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(11, 11, 11);
    padding: 15px;
}

.logo {
    left: 0;
    width: 80px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.avatar {
    right: 20px;
    width: 30px;
    cursor: pointer;
}
 
.youtube-container {
  height: 100vh;
}

@media only screen and (max-width: 640px) {
    .youtube-container {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
      
    }
  }