.head {
    height: 100vh;
    
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(11, 11, 11);
    padding: 15px;
}

.logo {
    left: 0;
    width: 80px;
    object-fit: contain;
    cursor: pointer;
}

.avatar {
    right: 20px;
    width: 30px;
    cursor: pointer;
}
 
.youtube-container {
  height: 100vh;
}

@media only screen and (max-width: 640px) {
    .youtube-container {
      height: 56.25vw;
    }

    .video-background {
      height: 100vh;
      padding-top: 45%;
      background-color: #000;
      position: fixed;
      width: 100%;
    }
  }